<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
    <title>IndiBills</title>
</head>
<body>
    <div hx-ext="client-side-templates">
        <div
            hx-get="http://127.0.0.1:8000/users/"
            hx-trigger="load"
            nunjucks-template="users-template"
        >
        <template id="users-template">
            {% for user in users %}
                <h2>{{user.username}}</h2>
                <p>email: {{ user.email }}</p>
            {% endfor %}
        </template>
        <script>
            document.addEventListener("htmx:configRequest", (evt) => {
                evt.detail.headers = [];
            });
        </script>
        </div>
    </div>
    <div id="new_user">
        <form id="user_form" hx-post="http://127.0.0.1:8000/users/" hx-ext="json-enc">
            <h3>New User</h3>
            <input type="text" id="username" name="username" placeholder="Username">
            <label for="username">Username</label>
            <input type="email" id="email" name="email" placeholder="E-Mail Address">
            <label for="email">E-Mail Address</label>
            <input type="password" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
            <input type="submit">
        </form>
    </div>
</body>
</html>
