{{define "title"}}Accounts{{end}}

{{define "main"}}
    <article>
        {{if .}}
        <table class="table">
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Current Balance</th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Type}}</td>
                <td>${{.Balance}}</td>
            </tr>
            {{end}}
        </table>
        {{else}}
        <p>No accounts for this user yet!</p>
        {{end}}
    </article>
    <form action="/accounts" method="Post">
        <label for="name">Account Name:</label>
        <input type="text" name="name" id="name">
        <label for="type">Account Type:</label>
        <select name="type" id="type">
            <option>checking</option>
            <option>savings</option>
        </select>
        <label for="balance">Balance:</label>
        <input type="number" name="balance" id="balance" min="0" value="0" step=".01">
        <input type="submit">
    </form>
{{end}}
